{% extends "ShopBundle:Default:base.html.twig" %}



{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}


    {% form_theme  form '@Shop/Default/theme.html.twig'  %}


    {{ form_start(form) }}

    {{ form_end(form) }}


{% endblock %}
