{% extends "ShopBundle:Default:base.html.twig" %}



{% block body %}

    <h2>Categories<span> <a href="{{ path('category_new') }}" ><span class="glyphicon glyphicon-plus"></span></a> </span></h2>

    <table class="table table-striped" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Number of products</th>
            <th>Product codes</th>
            <th>Product names</th>

            <th></th>
        </tr>
        </thead>
        <tbody >
        {% for x in records %}
            <tr >

                <td>{{x.name}}</td>

                <td><a href="{{ path('category_edit', {'id': x.id}) }}" ><span class="glyphicon glyphicon-pencil"></span></a></td>

                <td>{{ x.products|length }}</td>

                <td>
                    {% for x in x.products %}

                        {{ x.code }}
                        {{ '\n'|nl2br }}
                    {% endfor %}

                </td>

                <td>
                    {% for x in x.products %}


                    <a href="{{ path('products_edit', {'id': x.id}) }}">{{ x.name }}{{ '\n'|nl2br }} </a>
                    {% endfor %}

                </td>




            </tr>
        {% endfor %}
        </tbody>


    </table>
    <!--
    <form>
        <input type="button" class="btn btn-primary"
               value="Insert new"
               onclick="window.location.href='http://localhost:8000/category/new'">
    </form>
    -->

{% endblock %}