{% extends "ShopBundle:Default:base.html.twig" %}

{% block body %}
{% if app.user %}

    <li><b>{{ 'Welcome '~app.user.username}}<br> </b></li>

{% else %}
    {% set message = '<li><b>To create and edit products and categories please log in as <i>admin</i></b><br>' %}

        {{ message|raw }}

{% endif %}


{% endblock %}