{% trans_default_domain 'FOSUserBundle' %}
{% extends "@Shop/Default/base.html.twig" %}
{% block body %}
{% block fos_user_content %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <form action="{{ path("fos_user_security_check") }}" method="post">
           <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="container">
               <label for="username">{{ 'security.login.username'|trans }}</label>
               <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="container">
               <label for="password">{{ 'security.login.password'|trans }}</label>
               <input class="form-control" type="password" id="password" name="_password" required="required" />
            <div>

                <div class="checkbox">
                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                       <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                   <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </div>


    </form>

{% endblock fos_user_content %}
{% endblock %}
