<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Shop{% endblock %}</title>

    {% block stylesheets %}

        <link href="http://getbootstrap.com/docs/4.0/examples/justified-nav/justified-nav.css" rel="stylesheet">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {% endblock %}
</head>


<body>
    {% include '@Shop/Default/header.html.twig' %}


    <div class="container-fluid">

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}

    {% include '@Shop/Default/footer.html.twig' %}




</body>






</html>

