<footer style="position: fixed; bottom: 0; width: 100%; height: 50px; background-color:lightgreen;">
        <p>Author: Mihovil Blašković<span> - <a href="mailto:mihovil.blaskovic@gmail.com">mihovil.blaskovic@gmail.com</a>.</span></p>
</footer>