
<header class="masthead" >
    <h4>Shop - Symfony Test Application</h4>

    <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/home"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/categories">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/admin">Admin panel</a>
                </li>

                {% set name = 'Account' %}
                {% if app.user %}
                    {% set name = app.user.username %}
                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://localhost:8000" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ name }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">

                        {% if is_granted('ROLE_USER') %}
                            {% if app.user %}
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                            {% endif %}

                        {% else %}
                            <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Login</a>
                        {% endif %}

                        <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">Register</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>




