{% use "form_div_layout.html.twig" %}



{% block button_widget -%}
<div class="container" style="background-color: grey; padding-top: 25px;" >
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {{- parent() -}}
</div>
{%- endblock %}

{% block form_row %}
    <div class="form_row" >
        <div class="container" style="background-color: grey; padding-top: 15px; ">



        {{ form_label(form) }}
        {{ form_errors(form) }}
            <div style=" padding-top: 15px; ">
                {{ form_widget(form) }}
            </div>



        </div>

    </div>
{% endblock form_row %}

