{% extends "ShopBundle:Default:base.html.twig" %}



{% block body %}


    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}

    <div class="container">
        {{ widget.getMessageAction() }}
    </div>

    {% form_theme  form '@Shop/Default/theme.html.twig'  %}


    {{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form.category_id) }}

    {{ form_row(form.save) }}


    {#

    {% form_theme form 'bootstrap_3_layout.html.twig'  %}

    {{  form_start( form ) }}
    {{  form_end( form ) }}
    #}



{% endblock %}
