{% extends "ShopBundle:Default:base.html.twig" %}



{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('danger') %}
        <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}

    <h2>Products<span> <a href="{{ path('products_new') }}" ><span class="glyphicon glyphicon-plus"></span></a> </span></h2>

    <div class="table-responsive">
    <table class="table table-striped" >

        <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
            <th></th>
        </tr>
        </thead>
        <tbody >
        {% for x in records %}
        <tr >

            <td>{{x.name}}</td>
            <td>{{x.code}}</td>
            <td>{{x.categoryId.name}}</td>
            <td>
                <a href="{{ path('products_edit', {'id': x.id}) }}" ><span class="glyphicon glyphicon-pencil"></span></a>

            </td>

            <td>

                <a href="{{ path('products_delete', {'id': x.id}) }}" onclick="return confirm('Are you sure you want to delete this record?')">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>


        </tr>
        {% endfor %}
        </tbody>


    </table>
    </div>
    <!--
    <form>
        <input type="button" class="btn btn-primary"
               value="Insert new"
               onclick="window.location.href='http://localhost:8000/products/new'">
    </form>
    -->
{% endblock %}